.back{
    display: flex;
    justify-content: center;


}

.contenedor {
    margin-top: 100px; 
    width: 70%;
    display: flex;
    align-content: space-between;
    border: 1px solid;
    border-radius: 20px;
    display: flex;
    text-align: center;
    color: rgb(255, 255, 255);
    background-color: rgba(0, 0, 0, 0.363);
    background-image: url("../../images/galaxia-en-el-espacio-4052.webp");

}
.info{
    width: 100%;
}

.name{
    color: aliceblue;
    font-size: 36px;
}

.img {
    width: 80%;
    border-radius: 150px;
    border-color: rgb(28, 196, 196);
    border: 1px solid;
    margin: 20px;
}